/******************************************************************************************
/*  1-General styles */
/******************************************************************************************/
body {
	background-color: #fff;
	color: #9d9ea0;
	font-family: Lato, sans-serif;
	background-color: #fff;
	font-size: 16px;
	line-height: 25px;
}

.img-responsive {
	max-width:100%!important;
}

ul,li {
	list-style:none;
}

a:hover {
	text-decoration:none!important;
}

a:focus,a:active {
	outline:none;
}

iframe,embed,object {
	max-width:100%;
}

video {
	max-width:100%;
	height:auto;
}


/* ============================== */
/*		    popup contact  	      */
/* ============================== */
#contact-popup{
	background-color: #f8fafc;
	position: relative;
	width: 630px;
	max-width: 95%;
	padding: 40px;
	margin: 0 auto;
	border-radius: 5px;
}

#contact-popup .close-btn{
	color: #323232;
	font-size: 10px;
	position: absolute;
	text-align: center;
	line-height: 27px;
	right: 40px;
	top: 40px;
	display: block;
	width: 27px;
	height: 27px;
	border: 1px solid rgba(0,0,0,.05);
	border-radius: 50%;
}

#contact-popup h2{
	color: #323232;
	font-size: 24px;
	font-weight: 400;
	border-radius: 5px;
	text-align: center;
	margin: 0 0 35px;
}

#contact-popup input{
	color: #6e6f70;
	font-family: Hind, sans-serif;
	width: 100%;
	height: 60px;
	padding: 0 30px;
	font-style: italic;
	border: 1px solid rgba(0,0,0,.05);
	margin-bottom: 15px;
	border-radius: 3px;
}

#contact-popup input:focus, #contact-popup textarea:focus{
	box-shadow: none;
}

#contact-popup textarea{
	height: 170px;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,.05);
	padding: 20px 30px;
	resize: none;
}

#contact-popup .submit-btn{
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	text-align: center;
	width: 167px;
	height: 50px;
	margin-top: 30px;
	background: #ee8b36;
background: -moz-linear-gradient(top,  #ee8b36 0%, #e46d2b 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ee8b36), color-stop(100%,#e46d2b));
background: -webkit-linear-gradient(top,  #ee8b36 0%,#e46d2b 100%);
background: -o-linear-gradient(top,  #ee8b36 0%,#e46d2b 100%);
background: -ms-linear-gradient(top,  #ee8b36 0%,#e46d2b 100%);
background: linear-gradient(to bottom,  #ee8b36 0%,#e46d2b 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee8b36', endColorstr='#e46d2b',GradientType=0 );
	border-radius: 4px;
	border: 1px solid #e97d31;
	box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.33) inset;
}

#contact-popup .submit-btn i{
	padding-left: 5px;
	font-size: 18px;
	color: rgba(255,255,255,.45);
}


#contact-popup ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #6e6f70;
}
#contact-popup :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #6e6f70;
  opacity: 1;
}
#contact-popup ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #6e6f70;
  opacity: 1;
}
#contact-popup :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #6e6f70;
}

/* ============================== */
/*		     Responsivity     	  */
/* ============================== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
	
	h1{font-size: 40px !important;}
	
	h2{font-size: 30px !important;}
	
	
	#layout1-testimonials .testi-slide p{
		font-size: 36px !important;
	}
	
	#layout1-subscribe-form h2{
		font-size: 24px !important;
	}
	
	#layout1-subscribe-form form h4{
		font-size: 20px !important;
	}
	
	#layout1-subscribe-form form{
		padding: 30px !important;	
	}
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 996px) {
	
	/* navigation collapse breakpoint */
	.navbar-header {
    	float: none;
	}
	.navbar-left,.navbar-right {
    	float: none !important;
	}
	.navbar-toggle {
    	display: block;
	}
	.navbar-collapse {
    	border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	}
	.navbar-fixed-top {
    	top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
    	display: none!important;
	}
	.navbar-nav {
    	float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav > li {
    	float: none;
	}
	.navbar-nav > li > a {
    	padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in {
    	display: block !important;
	}
	/*  end  */
	
	.socials{display: none;}
	
	
	h1{font-size: 36px !important;}
	
	h2{font-size: 26px !important;}
	
	h3{font-size: 20px !important;}
	
	#layout1-main-section{
		padding: 180px 0 140px !important;
	}
	
	/* ---- layout1-features ---- */
	#layout1-features .feature-item{text-align: center;}
	
	#layout1-features .feature-item .feature-icon{
		float: none !important;
		display: inline-block !important;
		margin: 0 0 30px !important;
	}
	
	#layout1-features .feature-item .text-container{
		float: none !important;
		width: 100% !important;
	}
	
	#layout1-testimonials .testi-slide p{
		font-size: 30px !important;
	}
	
	#layout1-z-layout1{
		padding: 60px 0 !important;
	}
	
	#layout1-z-layout1 .subtitle{
		font-size: 18px !important;
		margin-top: 0 !important;
	}
	
	#layout1-z-layout1 p{
		margin-top: 20px !important;
		padding-right: 0 !important;
	}
	
	
	#layout1-extras .column h3{
		font-size: 20px !important;
	}
	
	#layout1-z-layout2{
		padding: 70px 0 !important;	
	}
	
	#layout1-z-layout2 h2{
		margin-top: 0 !important;	
	}
	
	#layout1-z-layout2 p{
		margin-top: 20px !important;
		padding-right: 0 !important;
	}
	
	
	#layout1-subscribe-form{
		padding: 80px 0 40px !important;
	}
	#layout1-subscribe-form .extra-item img{
		margin: 0 auto;
	}
	#layout1-subscribe-form .second-row{
		margin-top: 0 !important;
	}
	
	#layout1-subscribe-form .extra-item{
		margin-bottom: 40px;
	}
	
	#layout1-subscribe-form h2{
		font-size: 24px !important;
	}
	
	#layout1-subscribe-form .subtitle{
		font-size: 18px !important;	
	}
	
	#layout1-subscribe-form form{
		padding: 20px !important;	
	}
	
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
	
	#layout1-main-section .subscribe-form{
		width: 95% !important;
	}
	#layout1-main-section .subscribe-form input{
		width: 35%;
	}
	#layout1-main-section .subscribe-form button{
		width: 30%;
	}
	
	
	#layout1-features{
		padding: 40px 0 !important;	
	}
	
	#layout1-features .feature-item{
		padding-top: 30px !important;
		padding-bottom: 30px !important;
	}
	
	#layout1-features .feature-item::after{
		content: "" !important;	
	}
	
	#layout1-z-layout1{
		text-align: center !important;
		padding-bottom: 0 !important;
	}
	
	#layout1-z-layout1 p{
		padding: 0 20px !important;	
	}
	
	#layout1-z-layout1 .button{
		margin-left: auto !important;
		margin-right: auto !important;	
	}
	
	#layout1-z-layout1 img{
		margin: 60px auto 0;
		float: none !important;
	}
	
	
	#layout1-extras .column{
		margin-bottom: 40px;
		text-align: center !important;
	}
	#layout1-extras .column img{
		margin: 0 auto;
	}
	
	#layout1-z-layout2{
		text-align: center;
	}
	#layout1-z-layout2 p{
		padding: 0 20px !important;
	}
	
	
	#layout1-partners .brand{
		margin-bottom: 30px;
	}
	
	#layout1-subscribe-form{
		text-align: center;
	}
	#layout1-subscribe-form h2{
		margin-top: 0 !important;
	}
	#layout1-subscribe-form p{
		padding: 0 20px !important;
	}
	#layout1-subscribe-form form{
		width: 90% !important;
		margin: 40px auto 0;
	}
	#layout1-subscribe-form .holder span{
		text-align: left;
	}
	
	layout1-footer {
    	text-align: center;
	}
	layout1-footer ul.pull-right {
	    float: none !important;
	    margin-top: 10px;
	    padding-left: 0 !important;
	}
	
}

@media only screen and (max-width: 590px) {
	#layout1-main-section .subscribe-form{
		width: 95% !important;
	}
	#layout1-main-section .subscribe-form input, #layout1-main-section .subscribe-form button{
		width: 100% !important;
		text-align: center;
	}
	#layout1-main-section .subscribe-form .first-input{
		border-right: none !important;
		border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	}
	#layout1-main-section .info{
		float: none !important;
		text-align: center;
		margin-top: 20px !important;
		display: inline-block;
	}
	
	#layout1-subscribe-form h2{
		font-size: 20px !important;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
	
	h2{
		font-size: 24px !important;
		line-height: 38px !important;
	}
	
	#layout1-main-section .main-text{
		font-size: 18px !important;
	}
	
	
	#layout1-z-layout1 .subtitle, #layout1-extras .main-text, #layout1-subscribe-form .subtitle{
		font-size: 17px !important;	
	}
	
	#layout1-testimonials .testi-slide p{
		font-size: 24px !important;
		line-height: 34px !important;
	}
	
	#layout1-subscribe-form p{
		padding: 0 !important;	
	}
	#layout1-subscribe-form form h4{
		font-size: 16px !important;
	}
	#layout1-subscribe-form form{
		width: 95% !important;
		padding: 15px !important;
	}
	#layout1-subscribe-form .holder{
		margin-top: 20px !important;
	}
	#layout1-subscribe-form .holder span{
		display: none;
	}
	#layout1-subscribe-form .holder button{
		width: 100% !important;
	}
}
@media only screen and (max-width: 430px) {
	
	#layout1-z-layout2 p, #layout1-z-layout1 p{
		padding: 0 !important;
	}	
	
}
/* Custom, iPhone Retina */









