/* ============================== */
/*		    main section  	      */
/* ============================== */
#layout2-main-section {
	background: url('../img/layout2-main-bg.jpg') no-repeat fixed center center;
	background-size: cover;
	position: relative;
	text-align: center;
	padding-top: 210px;
}

#layout2-main-section .overlay {
  	background-color: rgba(45, 48, 52, 0.35);
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
}

#layout2-main-section h1{
	color: #fff;
	font-family: Raleway, sans-serif;
	font-size: 43px;
	font-weight: 400;
}


#layout2-main-section .main-text{
	color: rgba(255,255,255,0.7);
	font-size: 20px;
	margin-top: 20px;
}

#layout2-main-section .button-wrapper{
	width: 357px;
	display: inline-block;
	margin: 20px auto 60px;
}

#layout2-main-section .button-wrapper .demo-btn{
	background-color: #6bbc55;
	color: #fff;
	font-weight: 900;
	text-align: center;
	width: 170px;
	height: 60px;
	line-height: 60px;
	border: 1px solid rgba(0,0,0,.07);
	box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.33) inset;
	border-radius: 4px;
	transition: all .5s;
}

#layout2-main-section .button-wrapper .demo-btn:hover{
	background-color: #78c563;	
}

#layout2-main-section .button-wrapper .buy-btn{
	background-color: #e25d3e;
	color: #fff;
	font-weight: 900;
	text-align: center;
	width: 170px;
	height: 60px;
	line-height: 60px;
	border: 1px solid rgba(0,0,0,.07);
	box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.33) inset;
	border-radius: 4px;
	transition: all .5s;
}
#layout2-main-section .button-wrapper .buy-btn:hover{
	background-color: #f27456;
}

/* ============================== */
/*		    main section  	      */
/* ============================== */
#layout1-main-section {
	background: url('../img/main-bg.jpg') no-repeat fixed center bottom;
	background-size: cover;
	position: relative;
	text-align: center;
	padding: 210px 0 170px;
	position: relative;
}

#layout1-main-section .overlay {
  	background-color: rgba(45, 48, 52, 0.35);
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
}

#layout1-main-section h1{
	color: #fff;
	font-family: Raleway, sans-serif;
	font-size: 43px;
	font-weight: 400;
}


#layout1-main-section .main-text{
	color: rgba(255,255,255,0.7);
	font-size: 20px;
	margin-top: 25px;
}

#layout1-main-section .subscribe-form{
	width: 630px;
	height: 64px;
	border-radius: 4px;
	margin-top: 65px;
}

#layout1-main-section .subscribe-form form{
	background-color: rgba(255,255,255,0.24);
	padding: 2px;
	border-radius: 4px;
}

#layout1-main-section .subscribe-form input{
	color: #fff;
	font-size: 14px;
	background: none;
	height: 60px;
	width: 220px;
	padding-left: 30px;
	border-radius: 0;
	border: none;
	box-shadow: none;
}

#layout1-main-section .subscribe-form input:focus{
	box-shadow: none;	
}

#layout1-main-section .subscribe-form .first-input{
	border-right: 1px solid rgba(255,255,255,0.15);
}

#layout1-main-section .subscribe-form button{
	color: #fff;
	font-weight: 900;
	font-size: 16px;
	width: 170px;
	height: 60px;
	background: #ee8b36;
background: -moz-linear-gradient(top,  #ee8b36 0%, #e46d2b 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ee8b36), color-stop(100%,#e46d2b));
background: -webkit-linear-gradient(top,  #ee8b36 0%,#e46d2b 100%);
background: -o-linear-gradient(top,  #ee8b36 0%,#e46d2b 100%);
background: -ms-linear-gradient(top,  #ee8b36 0%,#e46d2b 100%);
background: linear-gradient(to bottom,  #ee8b36 0%,#e46d2b 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee8b36', endColorstr='#e46d2b',GradientType=0 );
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,.07);
}

.subscribe-form ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #fff;
}
.subscribe-form :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  opacity: 1;
}
.subscribe-form ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1;
}
.subscribe-form :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #fff;
}

#layout1-main-section .info{
	color: rgba(255,255,255,0.7);
	font-style: italic;
	margin-top: 25px;
}

#layout1-main-section .info i{
	font-size: 18px;
	padding-right: 10px;
}

/* ============================== */
/*		    main section  	      */
/* ============================== */
#layout3-main-section {
	background: url('../img/layout3-main-bg.jpg') no-repeat fixed center center;
	background-size: cover;
	position: relative;
	padding: 180px 0 170px;
}

#layout3-main-section .overlay {
  	background-color: rgba(45, 48, 52, 0.71);
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
}

#layout3-main-section h1{
	color: #fff;
	font-family: Raleway, sans-serif;
	font-size: 38px;
	font-weight: 400;
	line-height: 50px;
}

#layout3-main-section .main-text{
	color: rgba(255,255,255,0.7);
	font-size: 16px;
	margin-top: 30px;
}

#layout3-main-section .button-wrapper{
	display: inline-block;
	margin-top: 50px;
}

#layout3-main-section .button-wrapper .left-btn{
	background-color: #22be73;
	color: #fff;
	font-size: 14px;
	text-align: center;
	width: 220px;
	height: 50px;
	line-height: 50px;
	text-transform: uppercase;
	border-radius: 4px;
	margin-right: 15px;
}

#layout3-main-section .button-wrapper .left-btn i{
	font-size: 16px;
	margin-right: 10px;
}

#layout3-main-section .button-wrapper .right-btn{
	background-color: rgba(255,255,255,.18);
	color: #fff;
	font-size: 14px;
	text-align: center;
	width: 133px;
	height: 50px;
	line-height: 50px;
	text-transform: uppercase;
	border: 1px solid rgba(255,255,255,.5);
	border-radius: 4px;
}

/* ============================== */
/*		    main section  	      */
/* ============================== */
#layout4-main-section {
	background: url('../img/layout4-main-bg.jpg') no-repeat fixed center bottom;
	background-size: cover;
	position: relative;
	text-align: center;
	padding: 210px 0 170px;
}

#layout4-main-section .overlay {
  	background-color: rgba(0, 0, 0, 0.8);
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
}

#layout4-main-section h1{
	color: #fff;
	font-family: Raleway, sans-serif;
	font-size: 43px;
	font-weight: 400;
}


#layout4-main-section .main-text{
	color: rgba(255,255,255,0.6);
	font-size: 20px;
	margin-top: 25px;
}

#layout4-main-section .subscribe-form{
	height: 50px;
	max-width: 450px;
	width: 95%;
	border-radius: 4px;
	margin-top: 65px;
}

#layout4-main-section .subscribe-form input{
	background-color: #f0efef;
	color: rgba(43,46,50,.5);
	font-family: Hind, sans-serif;
	font-size: 14px;
	font-style: italic;
	height: 50px;
	width: 340px;
	padding-left: 20px;
	border-radius: 0;
	box-shadow: none;
	border: none;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#layout4-main-section .subscribe-form input:focus{
	box-shadow: none;
	border: none;
}

#layout4-main-section .subscribe-form .first-input{
	border-right: 1px solid rgba(255,255,255,0.15);
}

#layout4-main-section .subscribe-form button{
	color: #fff;
	font-family: Hind, sans-serif;
	font-size: 16px;
	width: 110px;
	height: 50px;
	background: #ee8b36;
	background: -moz-linear-gradient(top,  #f29346 0%, #d87f36 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f29346), color-stop(100%,#d87f36));
	background: -webkit-linear-gradient(top,  #f29346 0%,#d87f36 100%);
	background: -o-linear-gradient(top,  #f29346 0%,#d87f36 100%);
	background: -ms-linear-gradient(top,  #f29346 0%,#d87f36 100%);
	background: linear-gradient(to bottom,  #f29346 0%,#d87f36 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f29346', endColorstr='#d87f36',GradientType=0 );
	border: none;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.20) inset;
}

#layout4-main-section .subscribe-form button i{
	font-size: 10px;
	color: #fff;
	padding-left: 5px;
}

.subscribe-form ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(43,46,50,.5);
}
.subscribe-form :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(43,46,50,.5);
  opacity: 1;
}
.subscribe-form ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(43,46,50,.5);
  opacity: 1;
}
.subscribe-form :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgba(43,46,50,.5);
}

#layout4-main-section .info{
	color: rgba(255,255,255,0.7);
	font-style: italic;
	margin-top: 25px;
}

#layout4-main-section .info i{
	font-size: 18px;
	padding-right: 5px;
}

/* ============================== */
/*		    main section  	      */
/* ============================== */
#layout5-main-section {
	background: url('../img/layout5-main-bg.jpg') no-repeat fixed center bottom;
	background-size: cover;
	position: relative;
	padding: 100px 0 80px;
	position: relative;
}

#layout5-main-section .overlay {
  	background-color: rgba(45, 173, 210, 0.98);
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
}

#layout5-main-section h1{
	color: #fff;
	font-family: Raleway, sans-serif;
	font-size: 36px;
	font-weight: 400;
	margin-top: 0;
	line-height: 50px;
}

#layout5-main-section .main-text{
	color: rgba(255,255,255,0.7);
	font-size: 16px;
	font-family: Hind, sans-serif;
	margin-top: 25px;
}

#layout5-main-section .button-wrapper{
	margin-bottom: 20px;
	display: inline-block;
	margin-top: 30px;
}

#layout5-main-section .button-wrapper .left-btn{
	background-color: #fff;
	color: #333;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	width: 220px;
	height: 50px;
	line-height: 50px;
	text-transform: uppercase;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin-right: 15px;
}

#layout5-main-section .button-wrapper .left-btn i{
	color: #31aed3;
	font-size: 16px;
	line-height: 50px;
	padding: 0 20px;
	border-left: 1px solid rgba(40, 40, 40, .07);
}

#layout5-main-section .button-wrapper .right-btn{
	background-color: rgba(255,255,255,.23);
	color: #fff;
	font-size: 14px;
	text-align: center;
	width: 133px;
	height: 50px;
	line-height: 50px;
	text-transform: uppercase;
	border: 1px solid rgba(255,255,255,.5);
	border-radius: 4px;
}

#layout5-main-section .socials{
	margin-top: 30px;
}

.fb_iframe_widget span{vertical-align: baseline !important;}
#twitter-widget-0{width: 92px !important;}


